html :where(.wp-block) {
  max-width: 100vw;
}

html :where(.editor-styles-wrapper) p {
  margin: unset;
}

.acf-block-preview {
  .mySwiper-3D .swiper-slide {
    opacity: 1;
  }

  .swiper-overflow-container {
    overflow-x: hidden;

    .container {
      overflow: visible;
    }

    .mySwiperGallery {
      overflow: visible;
    }

    .swiper-slide {
      width: 375px;
      margin-right: 30px;
    }
  }

  .mySwiper {
    .swiper-wrapper {
      width: auto !important;
    }
  }

  html :where(.wp-block) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .block-editor-button-block-appender.components-button.components-button {
    margin-top: 50px;
  }

  .swiper {
    padding: 0;

    .swiper-wrapper {
      display: flex;
      flex-flow: row nowrap;
      overflow: hidden;
      width: fit-content;
    }
  }
}

.edit-post-visual-editor__post-title-wrapper {
  margin-top: 0px;
}

.wp-block-post-title {
  word-break: break-word;
  border-bottom: 1px solid #e0e0e0;
}

html :where(.editor-styles-wrapper) h1,
html :where(.editor-styles-wrapper) h2,
html :where(.editor-styles-wrapper) h3,
html :where(.editor-styles-wrapper) h4,
html :where(.editor-styles-wrapper) h5,
html :where(.editor-styles-wrapper) h6,
html :where(.editor-styles-wrapper) select {
  font-size: unset;
  margin: unset;
  color: unset;
  line-height: unset;
  font-weight: unset;
}

html :where(.wp-block) {
  margin-top: 0px;
  margin-bottom: 0px;
}

.block-editor-inserter {
  margin-top: 20px;
}

.acf-block-preview {
  border-bottom: 2px dotted #76ff00;

  .swiperhero {
    .swiper-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .swiper-slide {
      flex-shrink: 0;
      width: unset;
      height: 100%;
      position: relative;
      transition-property: transform;
      margin-right: 90px;
    }
  }

  .tabs-swiper {
    .swiper-wrapper {
      width: 100%;
    }
  }

  .tabs-swiper-second {
    .swiper-wrapper {
      width: 100%;
    }

    .swiper-slide {
      opacity: 1 !important;

      &.swiper-slide-active {
        transition: 0.4s;
        opacity: 1 !important;
      }
    }

    ul {
      list-style: disc;
      padding: 0;
    }
  }
}

.is-root-container.block-editor-block-list__layout {
  padding-bottom: 120px;

  .container {
    max-width: 100%;
  }
}

.block-editor-block-inspector__advanced {
  display: none;
}

.interface-complementary-area {
  width: 30vw !important;
}

.acf-icon-picker__svg,
.acf-icon-picker__popup-svg {
  background: #edeeed;
  border-radius: 50%;
}

.acf-icon-picker__popup-svg img,
.acf-icon-picker__svg img {
  max-width: 30px !important;
  max-height: 30px !important;
}

table.fixed {
  table-layout: fixed !important;
}

.wp-list-table.widefat.fixed.striped.table-view-list {
  position: inherit !important;
}

.styling-block {
  display: none;
}

.acf-block-preview {
  ul {
    padding: 0;
  }

  .styling-block {
    display: block;
  }

  .mySwiperScroll {
    .swiper-wrapper {
      width: 100%;
    }
  }
}

.block-editor-block-list__block .block-list-appender {
  position: absolute;
  list-style: none;
  padding: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
}

.block-editor-block-list__block .block-list-appender .block-list-appender__toggle {
  flex-direction: row;
  box-shadow: none;
  height: 24px;
  width: 100% !important;
  display: none;
  padding: 0 !important;
  background: #1e1e1e;
  color: #fff;
}

.acf-innerblocks-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  // padding-right: 50px;
}

.block-editor-block-list__block {
  grid-column: span 2 / span 2;
}


.block-editor__container img {
  max-width: 100%;
  height: 100%;
}

.acf-block-body .acf-block-preview {
  min-height: 10px;
  width: 100%;
}